<%= form_for(@article) do |f| %>

  <ul>
  <% @article.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>

  <!-- article title -->
  <p>
    <%= f.text_field :title, class: "width80", placeholder: "Title"%>
  </p>

  <!-- article body  -->
  <p>
    <%= f.text_area :body, class: "width80", placeholder: "Content" %>
  </p>

  <!-- tags -->
  <p>
  <%= f.text_field :tag_list, class: "width80", placeholder: "Tags   (separated by commas)" %>
  </p>

  <!-- Image attachment -->
  <p>
    <% if @article.image.exists? %>
        <%= image_tag @article.image.url %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image %>
  </p>

  <!-- submit button -->
  <p>
    <%= f.submit %>
  </p>

<% end %>
