
<div id="show" class="container centered ">
  <div class="clear_navbar"></div>
  <div class="article_outline">
    <!-- title -->
    <div class="article_name">
      <h1><%= @article.title %></h1>
    </div>
    <p class="article_time"><%= @article.created_at.strftime("%B %d, %Y at %l:%M%P") %></p>
    <!-- image -->
    <div class="article_image">
      <p><%= image_tag @article.image.url %></p>
    </div>

    <!-- body text -->
    <p><%= @article.body %></p><br/>

    <% if logged_in? %>
      <!-- edit link -->
      <code><%= link_to "Edit", edit_article_path(@article)%></code>
      <!-- delete link (confirm with user before deleting) -->
      <code><%= link_to "Delete", article_path(@article), method: :delete , data: {confirm: "Do you really want to delete the article?"} %></code><br/>
    <% end %>
    <hr />

    <!-- each tag -->
    <p>
      Tags:
      <% @article.tags.each do |tag| %>
        <button><%= link_to tag.name, tag_path(tag), class: "black_link"%></button>
      <% end %>
    </p>

    <!-- link to all articles -->
    <%= link_to "<< Back to Articles List", articles_path, class: "button button-primary"%>
    <br/><br/>
  </div>

  <div class="CommentSection article_outline">
    <!-- comments section -->
    <div class="commentsHeader"><h5>Comments (<%= @article.comments.size %>)</h5></div>
    <%= render partial: 'articles/comment', collection: @article.comments %>

    <!-- add a new comment -->
    <%= render partial: 'comments/form' %>
  </div>
</div>
