<div id="show" class="container centered ">
  <div class="clear_navbar"></div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @author.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @author.email %>
  </p>


  <button><%= link_to 'Edit', edit_author_path(@author), class: "black_link" %></button>
  <%= link_to 'Back', authors_path, class: "button button-primary" %>

</div>
